body{
    color:black; 
    background:darkgrey;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}


.clase{
  position: center ;
  width: 540px;
  height: 400px;
  background-color: darkgrey;
  border-radius: 20px;

}
input{
 color:black;
 border-radius: 10px;   
 background-color: cornsilk;
}
input[type=submit]{
 color:rgb(255, 255, 255);
 background-color: black;
 border-radius: 0px;
 width: 99px;
 height: 50px;
 font-family: 'Times New Roman', Times, serif;
    
}